/*** Contact Us Page ***/
body.contact #content h2 {
	color:#fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#6a6a6a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#6a6a6a)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e2e2e,  #6a6a6a); /* for firefox 3.6+ */
	margin: 4px 0 12px 0;
    padding: 10px 0 11px 8px;
	clear:both;
}
body.contact #content #left {
	float:left;
	padding:8px;
	width:430px;
	border:1px solid #999;
	margin-right:30px;
}

body.contact #content #contact-form {
	padding:5px;
}
body.contact #content #contact-form label {
	display:block;
	font-weight:bold;
	float:left;
	width:120px;
}
body.contact #content #contact-form form div.input {
	margin-bottom:15px;
	min-height:22px;
}
body.contact #content #contact-form form select {
	width:70.5%;
}
body.contact #content #contact-form form input[type="text"], body.contact #content #contact-form form textarea {
	width:70%;
}
body.contact #content #contact-form form .short {
	width:75px !important;
}
body.contact #content #contact-form .office {
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}
body.contact #content #contact-form .office dl {
	line-height:16px;
}
body.contact #content #contact-form .office dd {
	margin-left:120px;
	margin-bottom:8px;
}
body.contact form .security table {
	width:180px;
	height:45px;
	xborder:5px solid #fff;
	margin-bottom: 15px;
	background:#fff;
}
body.contact form span.icon.question {
	float:none;
	display:inline-block;
	vertical-align: bottom;
}
body.contact form .tooltip {
	display:none;
	background:transparent url(../img/black_arrow.png);
	font-size:12px;
	height:90px;
	width:160px;
	padding:15px 25px;
	color:#fff;	
}
body.contact #content #right {
	float:left;
	width:455px;
}
body.contact #content #right #free-text {
	min-height:100px;
	border:1px solid #999;
	padding:5px;
}
body.contact #content #right #free-text p {
	width:460px;
	overflow:hidden;
	margin:0;
}

body.contact .tab-container {
	
}
body.contact .tab-container .tab-content #google-canvas, body.contact .tab-container .tab-content #streetview-canvas {
	color:#000000;
	width:100%;
	height:243px;
}

