/* multi select google map tabs */
.tab-container {
	margin: 20px 0px;
}
.tab-container ul.tabs {
	list-style: none;
	list-style-position: outside;
	height: 31px;
}
.tab-container ul.tabs li{
	float: left;
}
.tab-container ul.tabs li a{
	margin:1px 5px -1px 0;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding:8px 14px 8px 13px;
	border: 1px solid #999;
	border-bottom: 0;
	position: relative;
	color: #999;
	cursor: pointer;
	
	position:relative;
	background:#fff;
}
.tab-container ul.tabs li a:hover {
	text-decoration:none;
}
.tab-container ul.tabs li.active a{
	color: #fff !important;
	height: 14px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#6a6a6a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#6a6a6a)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e2e2e,  #6a6a6a); /* for firefox 3.6+ */
}
.tab-container .tab-content {
	margin: 0 auto;
	text-align: left;
	border: 1px solid #999;
	padding:9px 12px;
	xdisplay:none;
}
.tab-container .tab-content:first-child, .tab-container ul.tabs+.tab-content {
	xdisplay:block;
}
.tab-container .tab-content ul.inner-tabs {
	padding-top:1px;
	height:32px;
}
.tab-container .tab-content ul.inner-tabs li {
	float:left;
}
.tab-container .tab-content ul.inner-tabs li a {
	margin:1px 5px -1px 0;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding:8px 14px 8px 13px;
	border: 1px solid #999;
	border-bottom: 0;
	position: relative;
	color: #999;
	cursor: pointer;
	
	position:relative;
	background:#fff;
}
.tab-container .tab-content ul.inner-tabs li.active a {
	border: 1px solid #1b1e26;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#6a6a6a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#6a6a6a)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e2e2e,  #6a6a6a); /* for firefox 3.6+ */
}
.tab-container .tab-content ul.inner-tabs li a:hover {
	text-decoration:none;
}
.tab-container .tab-content .inner-tab-content {
	border:1px solid #9097a9;
	xdisplay:none;
}
.tab-container .tab-content .inner-tab-content:first-child, .tab-container .tab-content ul.inner-tabs+.inner-tab-content {
	xdisplay:block;
}
